/* Fondo gris de toda la pantalla */
.backgroundGray {
    background-color: #7873735f;
}

/* Títulos más grandes */
.cardTitle {
    font-size: 1.4rem !important;
    margin-bottom: 10px;
    color: #000000b9;
}
.topPanel {
    background-color: #7873735f;
}
/* Reducir espacio entre panel superior y tarjetas */
.smallGap {
    /* margin-top: 10px !important;*/
}
.hboxPadding20 {
    padding: 20px;
}
.cardBox {
    width: 360px;            
    height: 280px;            
    padding: 25px;            
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 0 10px;

}

.pushBottom {
    margin-top: auto;
}

/* Para el panel 1 */
.textGray {
    color: #777;
    font-size: 2.5rem;
}

.sapUiTinyMarginEnd {
    margin-right: 0.3rem;
}

.backgroundGray {
    background-color: #b2b2b200;
}

.hboxPadding20 {
    padding: 20px;
}

.customTitleSK {
    font-size: 3rem;  
    font-weight: bold;
    color: #4a4747;
}

.descriptionTitle {
    font-size: 1.2rem;  
}
